.campgroundBg {
  background-image: url("https://images.pexels.com/photos/326333/pexels-photo-326333.jpeg?cs=srgb&dl=pexels-pixabay-326333.jpg&fm=jpg");
  background-size: cover;
}

.campgroundThumbnailSize {
  width: 100%;
  height: 275px;
}

#cluster-map {
  height: 500px;
  width: 100%;
}

#map {
  height: 300px;
  width: 100%;
}
